extends layout

block content
  h1 Admin Login
  if error
    p.error= error
  form(action="/admin/login", method="POST")
    input(type="hidden", name="_csrf", value=csrfToken)
    table
      tr
        td
          label(for="admin_token") Admin Token
        td
          input(type="password", id="admin_token", name="admin_token", required, placeholder="Enter your admin token")
      tr
        td
          label(for="remember") Remember me
        td
          input(type="checkbox", id="remember", name="remember", value="1")
    input(type="submit", value="Log In")
